<!DOCTYPE html>
<html>
                    <head>                
		    <title>SCV</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<meta charset="UTF-8"/>
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                    
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
                    
                    <link rel="stylesheet" type="text/css" href="CSS/main.css">

                
                    <img src="images/pgj.png" alt="Logotipo de HTML5" class="Logologgin" >
                    
                    <div>
                        <h1 class ="tituloSCV">SISTEMA DE CONTROL VEHICULAR</h1>
                        <h3 class ="subtituSCV">Login</h3>
                    </div>
                
		</head>
		<body>
		 <div id="Contenedor">
		 
                     		 
                 
                       <div class="ContentForm">
		 	<form action="/login" method="post" name="FormEntrar">
		 		<div class="input-group input-group-lg">
				  <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                                  <input type="text" class="form-control" name="usuario_pgj" placeholder="usuario" id="Correo" aria-describedby="sizing-addon1" required>
				</div>
				<br>                                                                				
                                <div class="input-group input-group-lg">
				  <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
				  <input type="password" name="password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
				</div>
				<br>
				<button class="btn btn-lg btn-primary btn-block btn-signin" onclick="location.href='/home.jsp'" id="IngresoLog" type="submit" value="enviar">Entrar</button>
				
		 	</form>
		 </div>	
		 </div>
</body>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
